{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Statuses{% endblock %}</title>
    {% block css_files %}
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}

    {% if messages %}
    <footer class="footer">
        {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}
    </footer>
    {% endif %}

    {% block confirmations %}
        <div id="confirmations" class="container">
            <div class="modal fade special-action-modal" id="action-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
    {% block scripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
        <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    {% endblock %}
</html>
