<nav class="navbar navbar-default navbar-top" role="navigation">

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li {% if active_tab == 'main_statuses' %}class="active"{% endif %}>
				<a href="{% url 'statuses' %}" data-toggle="tooltip" title="Statuses"> Statuses</a>
			</li>
            {% if user.is_authenticated %}
                <li {% if active_tab == 'my_statuses' %}class="active"{% endif %}>
                    <a href="{% url 'my_statuses' %}" data-toggle="tooltip" title="My statuses"> My Statuses</a>
                </li>

                <li {% if active_tab == 'telephones' %}class="active"{% endif %}>
                    <a href="{% url 'telephones' %}" data-toggle="tooltip" title="Telephones"> Telephones</a>
                </li>
            {% endif %}
		</ul>

        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'login' %}" data-toggle="tooltip" title="Log out"> Log out ({{ user.email }})</a>
                </li>
            {% else %}
                <li {% if active_tab == 'login' %}class="active"{% endif %}>
                    <a href="{% url 'login' %}" data-toggle="tooltip" title="Log in"> Log in </a>
                </li>
                <li {% if active_tab == 'register' %}class="active"{% endif %}>
                    <a href="{% url 'register' %}" data-toggle="tooltip" title="Register"> Register </a>
                </li>
            {% endif %}
        </ul>
	</div>
</nav>
