{% extends "base.html" %}

{% block body %}
    {% include "navbar.html" with active_tab='register' %}

    <div id="register">
        <form class="form-horizontal" name="RegisterForm" action="{% url 'register' %}" method="post">
        {% csrf_token %}

            {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="fieldWrapper">
                {{ form.email.errors }}
                <label>Email:</label>
                {{ form.email }}
            </div>
            <div class="fieldWrapper">
                {{ form.password1.errors }}
                <label>Password:</label>
                {{ form.password1 }}
            </div>
            <div class="fieldWrapper">
                {{ form.password2.errors }}
                <label>Repeat password:</label>
                {{ form.password2 }}
            </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
        </form>
    </div>

{% endblock %}
