.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

.delete-column {
    width: 50px;
    text-align: center;
}

.bs-callout-danger {
  border-left-color: #D9534F;
}

.bs-callout h4 {
    text-align: center;
    font-weight: normal !important;
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 25px;
    font-size: 18px;
    text-transform: none;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color: #EEE;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 3px;
}

.bs-callout-danger {
    border-left-color: #D9534F;
}

.bs-callout.bs-callout-danger h4 {
    color: #D9534F;
}

.special-action-modal .modal-body .bs-callout {
  padding: 20px;
  margin: 20px 0;
}
