{% extends "base.html" %}

{% block body %}
    {% if custom %}
        {% include "navbar.html" with active_tab='my_statuses' %}
        <h1>Statuses of {{ user }}</h1>
    {% else %}
        {% include "navbar.html" with active_tab='main_statuses' %}
        <h1>Statuses </h1>
    {% endif %}

    {% if object_list%}
    <table class="table table-striped table-bordered table-hover table-condensed">
        <tr>
            <th>Registered</th>
            <th>Application name</th>
            <th>Start</th>
            <th>End</th>
            <th>Telephone</th>
        </tr>
        {% for status in object_list %}
            <tr>
                <td>{{ status.datetime|date:"Y.m.d H:i:s"}}</td>
                <td>{{ status.application_name }}</td>
                <td>{{ status.start|date:"Y.m.d H:i:s"}}</td>
                <td>{{ status.end|date:"Y.m.d H:i:s"}}</td>
                <td>{{ status.telephone.name}}</td>
            </tr>
    {% endfor %}
    </table>
    {% else %}
        <div>No statuses</div>
    {% endif %}

{% endblock %}
