<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">
        {% block modal_title %}
            Delete telephone <strong>{{ telephone }}</strong>
        {% endblock %}
    </h4>
</div>
<div class="modal-body">
    <div class="row bs-callout bs-callout-danger">
        <h4><strong>Warning!</strong> This action cannot be reverted</h4>
        Telephone will be permanently removed
    </div>
</div>
<form>
    {% csrf_token %}
</form>
<div class="modal-footer">
    <div class="btn-group">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="confirm-telephone-delete">delete</button>
    </div>
</div>
