{% extends "base.html" %}
{% load static %}

{% block body %}
    {% include "navbar.html" with active_tab='telephones' %}
    <h1>Telephones</h1>

    {% if object_list%}
    <table class="table table-striped table-bordered table-hover table-condensed">
        <tr>
            <th style="width: 50px" class="delete-column">Delete</th>
            <th>Name</th>
            <th>Id</th>
            <th>Code</th>
            <th>Description</th>
        </tr>
        {% for telephone in object_list %}
            <tr>
                <td><a href ="#" data-url="{% url 'telephone_delete' telephone_id=telephone.id %}" class="glyphicon glyphicon-ban-circle delete-column delete-telephone-button"></a></td>
                <td>{{ telephone.name }}</td>
                <td>{{ telephone.id }}</td>
                <td>{{ telephone.hash }}</td>
                <td>{{ telephone.description }}</td>
            </tr>
    {% endfor %}
    </table>
    {% else %}
        <div>No telephones</div>
    {% endif %}

    <button data-url="{% url 'telephone_add' %}" id="add_telephone_btn" class="btn btn-primary">Add telephone</button>

{% endblock %}

{% block scripts %}
{{ block.super }}
    <script src="{% static "js/telephones.js" %}"></script>

{% endblock %}
