<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">
        {% block modal_title %}
            Add new telephone
        {% endblock %}
    </h4>
</div>
<div class="modal-body">
    <div class="form-group row">
        <form id="telephone-create">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.as_p }}
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="confirm-telephone-creation">Add</button>
    </div>
</div>
